.Search {
  text-align: center;
  flex-direction: column;
  margin: 20px auto 60px;
  background: #A5C974;
  width: 60%;

  button {
    background: white;
  }

  input {
    margin: 0 10px;
    width: 100%;
  }

  p {
    margin: 0;
    padding-bottom: 5px;
    color: #141210;
  }

  .Search__icon {
    color: #2b6c35;
  }

  .Search__container {
    display: flex;
    align-items: center;
    padding: 10px 10px 0 10px;
  }

  .Search__form {
    display: flex;
    align-items: center;
    width: 95%;
  }
}

@media screen and (max-width:768px) {
  .Search {
    width: 100%;
    margin: 0 0 10px 0;
  }
}